extends layout

block content
  div(id='app')

    div(id='messages')
      p(v-for='item in messages') {{ item }}

    form(id='profile' @submit.prevent='submitForm($event)' action='/profile' method='post' enctype='multipart/form-data')
      p
        input(v-model='message' name='message')
      p
        input(type='file' name='avatar')
      p
        input(type='submit')
