extends layout

block content
  form(id='profile' action='/profile' method='post' enctype='multipart/form-data')
    p
      input(name='name')
    p
      input(type='file' name='avatar')
    p
      input(type='submit')

  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/javascripts/main.js')
