extends layout

block content
  div(id='app')

    p {{ msg }}

    form(id='profile' @submit.prevent='submitForm($event)' action='/profile' method='post' enctype='multipart/form-data')
      p
        input(name='name')
      p
        input(type='file' name='avatar')
      p
        input(type='submit')
